*{border: 1px  solid black;}
@font-face {
    font-family: 'SchoolSafetyManitto';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimManitoR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
html{
    width: 700px;
}

body {
    width: 680px;
    font-family: 'SchoolSafetyManitto';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimManitoR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
.start{
    width: 680px;
}
/* =========== start 페이지 header 부분 ============= */
#start-header{
    display: flex;
    justify-content: flex-end;
    gap: 90px; 
}


#start-header-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#start-logo{
    width: 150px;
}

/* ========== start 페이지 main 부분 ============ */
#start-main{
    display: flex;
    justify-content: space-evenly;
}


#start-mainimg1,#start-mainimg2,#start-mainimg3{
    width: 210px;
    height: 210px;
}


.start-mainmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* ========== start 페이지 footer 부분 ============ */

.footer-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#start-footer{
    display: flex;
    justify-content: space-evenly;
}


#start-footimg1, #start-footimg2, #start-footimg3{
    width: 100px;
    height: 100px;
}
