.write-header > div{
    display: flex;
    text-align: center;
    
}
.write-header > div > a {
    width: 100%;
    border-radius: 10px;
}

.write-header1 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    padding-bottom: 15px;
    justify-content: center;
}

.write-header > div > a > button {
    width: 100%;
    border-radius: 10px;
}

.dropdown{
    width: 100%;
    border-radius: 10px;
    position: relative;
    border: 1px solid black;
}

.write-header-ul{
    width: 100%;
    list-style: none;
    position: absolute;
    top:10px;
    left:-40px;
    display: none;
}

.dropdown:hover > .write-header-ul{
    display: block;

}

.write-header-ul > li > button{
    width: 100%;
    border-radius: 15px;
    
}

.write-full-display{
    width: 680px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}

.write-list{
    display: flex;
    justify-content: space-between; 
    margin: 15px;
    flex-wrap: wrap;
    row-gap:15px;
}




.write-img > a{
    width: 100%;
    object-fit: cover;
}

.write-img > a >img{
    width: 100%;
    object-fit: cover;
}

.write-price{
    text-align: center;
}
.write-img-pr, .write-content{
    width: 30%;
    border: 1px solid black;
}

a:visited{
    color: black;
    text-decoration: none;
}

a{
    text-decoration-line: none;

}

.write-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.write-content-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.write-content-co1, .write-content-co3{
    display: flex;
    justify-content: space-between;
    width: 70%;
} 
.write-content-co4{
    color: rgb(102, 99, 99);
}