/* 기본 설정 ===============================================*/

a{ text-decoration: none; color: black; }
li{ list-style-type: none; }
*{ font-family: 'SchoolSafetyManitto'; font-size: 22px;}
@font-face {
    font-family: 'SchoolSafetyManitto';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimManitoR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;}
/*=======================================*/

.write1_header >a{color: #fdfdfd;}
.write1_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #165017;
    color: #fdfdfd;
    margin-bottom: 10px;
    height: 60px;
}
.write1_header > img {width: 70px;}
.write1_header > div >a {color: #fdfdfd;}


.write-header > div{
    display: flex;
    text-align: center;
    padding: 10px;
    gap: 10px;
    
}
.write-header > div > a {
    width: 100%;
    border-radius: 10px;
}

.write-header1 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    padding-bottom: 15px;
    justify-content: center;
}

.write-header > div > a > button {
    width: 100%;
    border-radius: 10px;
}

.dropdown{
    width: 100%;
    border-radius: 10px;
    position: relative;
    border: 1px solid black;
}

.write-header-ul{
    width: 100%;
    list-style: none;
    position: absolute;
    top:10px;
    left:-40px;
    display: none;
}

.dropdown:hover > .write-header-ul{
    display: block;

}

.write-header-ul > li > button{
    width: 100%;
    border-radius: 15px;
    
}

.write-full-display{
    width: 680px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}

.write-list{
    display: flex;
    justify-content: space-between; 
    margin: 15px;
    flex-wrap: wrap;
    row-gap:15px;
}




.write-img > a{
    width: 100%;
    object-fit: cover;
}

.write-img > a >img{
    width: 100%;
    object-fit: cover;
}

.write-price{
    text-align: center;
}
.write-img-pr, .write-content{
    width: 30%;
    border: 1px solid black;
}

a:visited{
    color: black;
    text-decoration: none;
}

a{
    text-decoration-line: none;

}

.write-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.write-content-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.write-content-co1, .write-content-co3{
    display: flex;
    justify-content: space-between;
    width: 70%;
} 
.write-content-co4{
    color: rgb(102, 99, 99);
}


/*==============================*/
/* footer */

.write-footer{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:100px;
    border-top:2px solid #ddd;
    position: sticky;
    bottom: 0px;
    background-color: white;
}
.menu{
    width:33%;
    text-align:center;
}
.menu > img{
    width:40px;
    margin:auto;
}
.menu > p{
    margin-top:8px;
    color:#165017;
    font-size:18px;
}
.write-footer > a{
    text-decoration: none;
}